 <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
 <link rel="stylesheet" href="/css/footer.css"> 
<footer id="footer">
  <!-- Links to the creator's social media profiles -->
  <div>
    <a href="https://github.com/iamshivanshyadav" target="_blank" rel="noopener noreferrer">
      <!-- Font Awesome icon for GitHub -->
      <i class="uil uil-github-alt"></i>
    </a>
    <a href="https://www.linkedin.com/in/shivanshyadav27/" target="_blank" rel="noopener noreferrer">
      <!-- Font Awesome icon for LinkedIn -->
      <i class="uil uil-linkedin-alt"></i>
    </a>
    <a href="https://shivaay-portfolio.netlify.app/" target="_blank" rel="noopener noreferrer">
      <!-- Font Awesome icon for Portfolio -->
      <i class="uil uil-bag"></i>
    </a>
  </div>
  <!-- Text indicating the creator -->
  <span>Created by Shivansh</span>
</footer>
